<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../styles/common.css">
    <style>
        #parentbox {
            position: relative;
            float: left;
            width: 94%;
            margin-left: 1%;
            margin-right: 1%;
            margin-top: 1%;
            margin-bottom: 1%;
            height: 98%;
            vertical-align: middle;
            min-height: max-content;
            min-width: max-content;
        }
        
        #parentbox>* {
            height: 100%
        }
        
        .sidebox {
            /* border-style: solid;
            border-color: black; */
            min-width: min-content;
            min-height: min-content;
        }
        
        #leftbox {
            min-width: max-content;
            float: left;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0px 50px;
        }
        
        #leftbox>* {
            margin: 4% 0%;
            width: fit-content;
            float: left;
        }
        
        .sidebox>* {
            margin: 1% 0%
        }
        
        #rightbox {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        
        .headerbox {
            text-align: center;
            border-style: solid;
            border-color: black;
            font-size: xx-large;
            padding: 15px;
            display: block;
        }
        
        .participantBtn {
            font-size: x-large;
            border-style: solid;
            padding: 5px;
            background-color: transparent;
            border-style: solid;
            border-color: black;
            border-width: 3px;
            transition-duration: .5s;
        }
        
        .participantBtn:hover {
            -ms-transform: scale(1.01);
            /* IE 9 */
            -webkit-transform: scale(1.01);
            /* Safari 3-8 */
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
            cursor: pointer;
        }
        #addMemPopUp{
            display:none;
            position: absolute;
            width: 98%;
            height: 80%;
            margin: 0% 1%;
            margin-bottom: 5%;
            min-width: max-content;
            background-color: whitesmoke;
            box-shadow: 2px 2px 2px 3px #4e4e4e;
        }
        #deleteMemPopUp{
            display:none;
            position: absolute;
            width: 98%;
            height: 80%;
            margin: 0% 1%;
            margin-bottom: 5%;
            min-width: max-content;
            background-color: whitesmoke;
            box-shadow: 2px 2px 2px 3px #4e4e4e;
        }
        #confirmAddition{
            position: absolute;
            display: none;
            flex-direction: row;
            width: 100%;
        }
        #confirmdeletion{
            position: absolute;
            display: none;
            flex-direction: row;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="fullbox" style="justify-content: start;">
        <div style="display: block; height: max-content; width: fit-content; text-align: center; margin: 0% 2%; overflow: hidden; justify-self: left;">
            <div class="line" style="position: relative; width:100%">
                <div style="display: inline-block; padding-right : 5% auto">
                    <!-- title -->
                    <h1 style="margin-right:25px">
                        Welcome
                        <%= user%><br>
                    </h1>
                </div>
                <!-- time and date -->
                <div style="display: inline-block; margin-right : 5% auto; ">
                    <text id="current_date"></text><br>
                    <text id="current_time"></text>
                </div>
            </div>
            <div style="float:left">
                <h1>
                    <%=activityName%>:
                        <%=activityID%>
                </h1>
            </div>
        </div>

        <div id="parentbox">
            <div id=leftbox class="sidebox">
                <div style="text-align: center;">
                    <div class="headerbox" style="margin-left: 41.8px;">
                        <%=activityName%>
                    </div>
                </div>

                <div class="headerbox" style="margin-left: 41.8px;">
                    <div style="border-bottom : solid 1px black; width:100%">
                        Activity Description
                    </div>
                    <div style="font-size: large; margin-top:2%">
                        <a href="<%=reportLink%>">Report Link</a>
                    </div>
                    <div style="font-size: large;margin-top:2%">
                        <a href="<%=proposalLink%>">Proposal Link</a>
                    </div>
                </div>
                <div class="headerbox" style="margin-left: 41.8px;">
                    <%=committeeName%>
                </div>
                <div style="height: max-content; min-width:max-content; display:flex; flex-direction: row;">
                    Start&ensp;<br>Date&ensp;
                    <div class="headerbox" style="display: inline-block; margin-right: 5px;">
                        <%=startDate%>
                    </div>
                    End&ensp;<br>Date&ensp;
                    <div class="headerbox" style="display: inline-block;">
                        <%=endDate%>
                    </div>
                </div>
                <div style="display:flex; flex-direction:column;">
                    <div>
                        <h1 style="border-bottom: solid black;">Committee Participation Percentages</h1>
                    </div>
                    <div style="display: flex; flex-direction:row; margin-top:2.5%;">
                        <div style="margin-left:1%; display:flex; flex-direction:row; border-style:solid">
                            <div style="padding:2px; border-right: solid black">
                                Nablus
                            </div>
                            <div style="padding:2px;">
                                <%=nablusPercent%>
                            </div>
                        </div>
                        <div style="margin-left:1%; display:flex; flex-direction:row; border-style:solid">
                            <div style="padding:2px; border-right: solid black">
                                Gaza
                            </div>
                            <div style="padding:2px;">
                                <%=gazaPercent%>
                            </div>
                        </div>
                        <div style="margin-left:1%; display:flex; flex-direction:row; border-style:solid">
                            <div style="padding:2px; border-right: solid black">
                                PPU
                            </div>
                            <div style="padding:2px;">
                                <%=ppuPercent%>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction:row; margin-top:2.5%">
                        <div style="margin-left:1%; display:flex; flex-direction:row; border-style:solid">
                            <div style="padding:2px; border-right: solid black">
                                Jerusalem
                            </div>
                            <div style="padding:2px;">
                                <%=jerusalemPercent%>
                            </div>
                        </div>
                        <div style="margin-left:1%; display:flex; flex-direction:row; border-style:solid">
                            <div style="padding:2px; border-right: solid black">
                                Jinin
                            </div>
                            <div style="padding:2px;">
                                <%=jininPercent%>
                            </div>
                        </div>
                        <div style="margin-left:1%; display:flex; flex-direction:row; border-style:solid">
                            <div style="padding:2px; border-right: solid black">
                                HUU
                            </div>
                            <div style="padding:2px;">
                                <%=huPercent%>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction:row">

                    </div>
                </div>
            </div>
            <div id=rightbox class="sidebox">
                <div style="width:94%;display: inline-block; padding:1%">
                    <button class="participantBtn" style="float:left" onclick="addMemPopUp()">
                        Add Participants
                    </button>
                    <button class="participantBtn" style="float:right" onclick="deleteMemPopUp()">
                        Delete Participants
                    </button>
                </div>
                <div style="display: flex; flex-direction: row; border-style: solid; width: 89%; padding:5% 5% 2% 2%">
                    <div style="width:40%; max-width: 40%;">
                        <div class="headerbox" style=" overflow-x: hidden; max-width: 100%; font-size: x-large; max-height: 90%;">
                            <%=participantName%>
                        </div>
                        <div class="headerbox" style="margin:3% 0%; overflow-x: hidden;max-width: 100%;font-size: x-large;">
                            <%=participantLocalCommittee%>
                        </div>
                        <div class="headerbox" style="margin:3% 0%; overflow-x: hidden;max-width: 100%;font-size: x-large;">
                            <%=participantYearOfStudy%>
                        </div>
                        <div class="headerbox" style="margin:3% 0%; overflow-x: hidden; max-width: 100%;font-size: x-large;">
                            <%=participantPhoneNO%>
                        </div>
                        <div class="headerbox" style="margin:3% 0%; overflow-x: hidden;max-width: 100%;font-size: x-large;">
                            <a href="<%=participantEmail%>">Email</a>
                        </div>
                        <div class="headerbox" style="margin:3% 0%; overflow-x: hidden;max-width: 100%;font-size: x-large;">
                            <a href="<%=participantFacebook%>">Facebook Account</a>
                        </div>
                    </div>
                    <div style="width: 60%; height: 90%; margin-left: 5%; border-style: solid; display: flex; flex-direction: column;">
                        <div style="width: 80%; height: 5%;margin-left: 10%; margin-right: 10%; margin-bottom: 2%; text-align: center; border-bottom: solid black;">
                            <h1>
                                Activities
                            </h1>
                        </div>

                        <div style="width: 100%; max-height: 93%;display: flex; flex-direction: row;">
                            <div style="float:left ;margin-left: 2%; margin-right: 2%; max-width: 40%; max-height: 80%;">
                                <h1>National</h1>
                                <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                                    <% nationalActivites.forEach( element=> { %>
                                        <li>
                                            <%= element.actName %>
                                        </li>
                                        <% }) %>
                                </ol>

                            </div>
                            <div style="width:10%; background-color:  #4e4e4e;">
                            </div>
                            <div style="float:left ;margin-left: 2%; margin-right: 2%; max-width: 40%; max-height: 80%;">
                                <h1>Local</h1>
                                <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                                    <% localActivites.forEach( element=> { %>
                                        <li>
                                            <%= element.actName %>
                                        </li>
                                        <% }) %>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <div style="width:94%;display: inline-block; padding:1% ">
                    <form method="post" action="/prevPart">
                    <button class="participantBtn " style="float:left ">Previous Participant</button></form>
                    <form method="post" action="/nextPart">
                        <button class="participantBtn " style="float:right ">Next Participant</button>
                    </form>
                </div>
                <div style="width:94%;display: inline-block; padding:1% ">
                    <form method="post" action="/printCert">
                    <button class="participantBtn " style="float:left ">Print Certificate</button></form>
                    <form method="post" action="/printAllCert">
                        <button class="participantBtn " style="float:right ">Print All Certificates</button>
                    </form>
                </div>
            </div>
        </div>
        <!--  -->
        <div id="addMemPopUp">
            <form>
                <div style="display: flex; flex-direction:column; padding:5%">
                    <div style="float:left; display:flex; flex-direction:row; margin:1% 0%;">
                        <form method="post" action="/searchAdd">
                            <label style="margin:1% 1%">
                                Search: 
                            </label>

                            <input style="margin:1% 1%" placeholder="Member Name" name="memberLike" value="">

                            <button type="submit" style="margin:1% 1%; font-size:larger"> submit</button>
                        </form>
                    </div>
                    <div style="margin:1% 0%; padding: 1% 0%; border-style:solid; display:flex; flex-direction:column;">
                        <h1  style="border-bottom: solid black;"> Search results: </h1>
                        <form method="post" action="/addMembers">
                            <ul style="list-style: none; overflow:scroll;">
                                <input type="checkbox" onclick="toggle(this)"> select all
                                <li>
                                    <div style="display: flex; flex-direction:row">
                                            <div style="margin:0% 5%; width:15.2px;"></div>
                                            <label style="width:42%">Member Number</label>
                                            <label style="width:42%">Member Name</label>
                                    </div>
                                </li>
                                <% matchingMembersAdd.forEach( element=> { %>
                                <li>
                                    <div style="display: flex; flex-direction:row">
                                        <input type="checkbox" value="element.memNum" style="width:15.2px; height:15.2px;margin:0% 5%" name="addMemCb">
                                        <label style="width:42%"><%=element.memNum%></label>
                                        <label style="width:42%"><%=element.memName%></label>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                            <div style="display: flex; flex-direction:column; width: 10%; margin-left: 5%">
                                <button   onclick="confirmAddPopUp()" style="margin-bottom: 3%;"> Add Selected Mambers</button>
                                <button onclick="addMemPopClose()" > Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
            </form>
        </div>

        <div id="deleteMemPopUp">
            <form>
                <div style="display: flex; flex-direction:column; padding:5%">
                    <div style="float:left; display:flex; flex-direction:row; margin:1% 0%;">
                        <form method="post" action="/searchAdd">
                            <label style="margin:1% 1%">
                                Search: 
                            </label>

                            <input style="margin:1% 1%" placeholder="Member Name" name="memberLike" value="">

                            <button type="submit" style="margin:1% 1%; font-size:larger"> submit</button>
                        </form>
                    </div>
                    <div style="margin:1% 0%; padding: 1% 0%; border-style:solid; display:flex; flex-direction:column;">
                        <h1  style="border-bottom: solid black;"> Search results: </h1>
                        <form method="post" action="/delMembers">
                            <ul style="list-style: none; overflow:scroll;">
                                <input type="checkbox" onclick="toggle(this)"> select all
                                <li>
                                    <div style="display: flex; flex-direction:row">
                                            <div style="margin:0% 5%; width:15.2px;"></div>
                                            <label style="width:42%">Member Number</label>
                                            <label style="width:42%">Member Name</label>
                                    </div>
                                </li>
                                <% matchingMembersDel.forEach( element=> { %>
                                <li>
                                    <div style="display: flex; flex-direction:row">
                                        <input type="checkbox" value="element.memNun" style="width:15.2px; height:15.2px;margin:0% 5%" name="addMemCb">
                                        <label style="width:42%"><%=element.memName%></label>
                                        <label style="width:42%"><%=element.memName%></label>
                                    </div>
                                </li>
                                <% }) %>
                            </ul>
                            <div style="display: flex; flex-direction:column; width: 10%; margin-left: 5%">
                                <button type="submit" onclick="confirmDelPopUp()" style="margin-bottom: 3%;"> Delete Selected Mambers</button>
                                <button onclick="deleteMemPopClose()" > Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </form>
        </div>

        <div id="confirmAddition">
            <div style="width:30%"></div>
            <div style="width: 40%; display:block ;position: relative;background-color: whitesmoke;box-shadow: 2px 2px 2px 3px #4e4e4e;">
                <h1 style="padding:05px 20px; margin: 5px; ">All selected members have been added</h1>
                <button onclick="confirmAddPopclose()" style="padding:05px 20px; margin: 5px"> OK</button>
            </div>
            <div style="width:30%"></div>
        </div>
        <div id="confirmdeletion">
            <div style="width:30%"></div>
            <div style="width: 40%; display:block ;position: relative;background-color: whitesmoke;box-shadow: 2px 2px 2px 3px #4e4e4e;">
                <h1 style="padding:05px 20px; margin: 5px; ">All selected members have been deleted</h1>
                <button onclick="confirmDelPopclose()" style="padding:05px 20px; margin: 5px"> OK</button>
            </div>
            <div style="width:30%"></div>
        </div>    
    </div>
    

    <script>
        var cur_time = new Date();
        document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0 "+cur_time.getMinutes()) : cur_time.getMinutes()}`
        document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()<10)?("0 "+cur_time.getMonth()):cur_time.getMonth()}/${(cur_time.getDate()<10)?("0 "+cur_time.getDate()):(cur_time.getDate())}`
        var intervalId = setInterval(function() {
            var cur_time = new Date();
            document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0 "+cur_time.getMinutes()) : cur_time.getMinutes()}`
            document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()<10)?("0 "+cur_time.getMonth()):cur_time.getMonth()}/${(cur_time.getDate()<10)?("0 "+cur_time.getDate()):(cur_time.getDate())}`
        }, 1000);

        const hiddenUserIn = document.createElement('input');
        hiddenUserIn.setAttribute('type', 'hidden');
        hiddenUserIn.setAttribute('name', "username");
        hiddenUserIn.setAttribute('value',"<%=user%>");

        const hiddenCipherIn = document.createElement('input');
        hiddenCipherIn.setAttribute('type', 'hidden');
        hiddenCipherIn.setAttribute('name', "cipher");
        hiddenCipherIn.setAttribute('value',"<%=cipher%>");

        const forms = document.forms;
        
        for (let i = 0; i <forms.length; i++){
            forms[i].appendChild(hiddenUserIn);
            forms[i].appendChild(hiddenCipherIn);
        }
        
        if ("<%=addMem%>" === "open"){
            addMemPopUp()
        }
        if ("<%=deleteMem%>" == "close"){
            deleteMemPopUp()
        }

        //enable and disable add meembers pop-up
        function addMemPopUp(){
            const element = document.getElementById("addMemPopUp")
            element.style.display = "block"
        }
        function addMemPopClose(){
            const element = document.getElementById("addMemPopUp")
            element.style.display = "none"
        }
        function confirmAddPopUp(){
            const element = document.getElementById("confirmAddition")
            console.log(element.style.display)
            element.style.display = "flex"
        }
        function confirmAddPopclose(){
            const element = document.getElementById("confirmAddition")
            console.log(element.style.display)
            element.style.display = "none"
        }
        
        //enable and disable delete meembers pop-up
        function deleteMemPopUp(){
            const element = document.getElementById("deleteMemPopUp")
            element.style.display = "block"
        }
        function deleteMemPopClose(){
            const element = document.getElementById("deleteMemPopUp")
            element.style.display = "none"
        }
        function confirmDelPopUp(){
            const element = document.getElementById("confirmDeletion")
            element.style.display = "flex"
        }
        function confirmDelPopclose(){
            const element = document.getElementById("confirmDeletion")
            element.style.display = "none"
        }

        //select all
        function toggle(source) {
            checkboxes = document.getElementsByName("addMemCb");
            for(var i=0, n=checkboxes.length;i<n;i++) {
              checkboxes[i].checked = source.checked;
            }
        }

    </script>
</body>

</html>