<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../public/styles/common.css">
    <style>
        #boxesSec {
            margin-top: 5%;
            height: 70%;
            align-items: center;
            position: relative;
        }
        
        #nationalBtn {
            float: left;
            display: inline-block;
            margin-left: 15%;
            margin-right: 10%;
            padding: 40px;
            text-align: center;
            font-size: 30px;
            border-style: solid;
            border-color: #000000;
            background-color: transparent;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
        }
        .localbutton {
            background-color: white;
        }
        
        #natBox:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        #boxesTable {
            float: right;
            margin-right: 25%;
            width: 25%;
            min-width: max-content;
            display: inline-block;
            border-collapse: collapse;
            border-style: solid;
            border-color: black;
            height: 122px;
            align-items: center;
            font-size: large;
        }
        
        #boxesTable td {
            text-align: center;
            border-style: solid;
            border-width: 2px;
            font-size: 22px;
            width: 10%;
            transition-property: box-shadow border-radius transform;
            transition-duration: .25s;
        }
        
        #boxesTable td:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        #boxesTable tr {
            min-width: max-content;
            width: max-content;
            min-height: max-content;
            height: max-content;
        }
        
        #activities-table {
            float: left;
            margin-right: 10%;
            width: 25%;
            min-width: max-content;
            min-height: max-content;
            border-collapse: collapse;
            border-style: solid;
            border-color: black;
            align-items: center;
            font-size: large;
        }
        
        #activities-table td {
            border-right: 1px solid #000000;
            padding-left: 2px;
            padding-right: 2px;
        }
        
        .localbox:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        .newActivity {
            display: none;
            flex-direction: column;
            position: absolute;
            background: whitesmoke;
            box-shadow: 2px 2px 0px 2px #4e4e4e;
            width: 99%;
            margin: 0.5%;
            margin-bottom: 1%;
            height: 98%;
            z-index: 101;
        }
        
        #newActivityForm>* {
            padding-bottom: .7%;
            padding-top: .7%;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: solid 1px #545353
        }
        .tagsContainer{
            display:flex;
            flex-direction:row;
            height:fit-content
        }
        .tagContainer{
            display:flex;
        }
        .tagButton{
            height: fit-content;
             border-style:none;
              background-color:transparent
        }
    </style>
</head>

<body>
    <div id = "navigationBar">
        <form class=PMSA_Logo method="post" action="/mainPage" onclick="this.submit()">
            <img src="../public/images/PMSA_Web_Logo.png" >
        </form>
        <div style="width: 3%;"></div>
        <div class="borderLine"></div>
        <form class ="allMembersForm" method="post" action="/allMembers">
            <input type="hidden" name="memNum" value=0>
            <input type="hidden" name="direction" value="next">
            <input type="hidden" name="filterLC" value="<%=userLC%>">
            <input type="hidden" name="chosenLC" value="<%=userLC%>">
            <button class="width:100%" type="submit">
            All Members
            </button>
        </form>
        <div class="borderLine"></div>

        <!-- all trainers -->
        <form class ="allTrainersForm" method="post" action="/allTrainers">
             <input type="hidden" name="memNum" value=0>
            <input type="hidden" name="direction" value="next">
            <input type="hidden" name="filterLC" value="<%=userLC%>">
            <input type="hidden" name="chosenLC" value="<%=userLC%>">
            <button class="" type="submit">
            All Trainers
        </button>
        </form>
        <div class="borderLine"></div>
        <!-- all activities -->
        <form class="allActivitiesForm" method="post" action="/allActivities">
            <input type="hidden" name="filter" value="<%=userLC%>">
            <button class="" type="submit">
            All Activities
        </button>
        </form>
        <div class="borderLine"></div>

        <form class="blackListForm" method="post" action="/blackList">
            <button class="" type="submit">
            Black List
        </button>
        </form>
        <div class="borderLine"></div>
        <div style="margin-left: auto; " class="borderLine"></div>
        <form method="get" action="/login">
            <button type="submit">
            Logout
        </button>
        </form>
        <div  style="margin-right: 2%;" class="borderLine"></div>
    </div>

    <div class="fullbox">
        <div class="newActivity" id="newActivityWindow">
            <form id="newActivityForm" style="display: flex; flex-direction:column; width:90%; margin: 0% 5%" method="post" action="/addActivity">
                <input type="hidden" value="" name="committee" id="standingCommittee">
                <h1 id="addActivityTitle"></h1>
                <div style="display: flex; flex-direction:row; width:100%">
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                Activity Name
                            </label>
                        <input required type="text" maxlength="50" style="margin: 0% 12.5%; width: 20%" placeholder="Activity Name" name="activityName">
                    </div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                Activity Description
                            </label>
                        <textarea style="margin:0% 5%; width:50%; height:100px; resize:none" type="textarea" rows="4" cols="125" maxlength="500" id="aDescription" name="activityDescription" placeholder="write a max of 500 character to describe the activity"></textarea>
                    </div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                Proposal Link
                            </label>
                        <input required type="url" style="margin: 0% 12.5%; width: 20%" placeholder="Proposal Link" name="proposalLink">
                    </div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                Report Link
                            </label>
                        <input required type="url" style="margin: 0% 12.5%; width: 20%" placeholder="Report Link" name="reportLink">
                    </div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                Start Date
                            </label>
                        <input required type="date" style="margin: 0% 12.5%; width: 20%" placeholder="StartDate" name="startDate">
                    </div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                End Date
                            </label>
                        <input required type="date" style="margin: 0% 12.5%; width: 20%" placeholder="EndDate" name="endDate">
                    </div>
                </div>

                <div id = "participatingCommittees" style="display: flex; flex-direction:row; width:100%">
                        <div style="display: flex; flex-direction:row; width:100%">
                            
                            <label style="margin-right:5%; width:10%">
                                Participating Local Committees
                            </label>
                            <select id="lcSelect" style="width:7%; margin-right:10%" onchange="createTag(this)">
                                <option selected> --none-- </option>
                            </select>
                            <div id="participatingLcs" style="display: flex; flex-direction:row" class="tagsContainer">
                                <input type="hidden" name="participatingLCs" value="">
                            </div>
                            
                        </div>
                    </div>

                <div style="margin-top: 0.5%;">
                    <button type="submit">Submit</button>
                    <button type="button" onclick="addActivityClose()"> Cancel</button>
                </div>

            </form>
        </div>

        <div class="line" style=" position: relative; width:max-content; margin-left : 3%">
            <div style="display: inline-block; padding-right : 5% auto">
                <!-- title -->
                <h1 style="margin-right:25px">Welcome
                    <%= user%>
                </h1>
            </div>
            <!-- time and date -->
            <div style="display: inline-block; margin-right : 5% auto; ">
                <text id="current_date"></text><br>
                <text id="current_time"></text>
            </div>
        </div>
        <div id="boxesSec">
            <form method="post" action="/allActivities">
                <button id=nationalBtn onclick="setFilter('national')" name="filter" value="national" type="submit">
                    National
                </button>
            </form>

            <div style="display:flex; flex-direction:column; width:30%;  position:relative; border-style:solid">
                <div style="display:flex; flex-direction:row">
                    <form method="post" action="/allActivities" style="width: 100%;">
                        <button id="nablusBtn" class="localbutton" onclick="setFilter('nablus')" name="filter" value="nablus" type="submit"> Nablus</button>
                    </form>
                    <form method="post" action="/allActivities" style="width: 100%;">
                        <button id="jerusalemBtn" class="localbutton" onclick="setFilter('jerusalem')" name="filter" value="jerusalem" type="submit"> Jerusalem</button>
                    </form>
                    <form method="post" action="/allActivities" style="width: 100%;">
                        <button id="gazaBtn" class="localbutton" onclick="setFilter('gaza')" name="filter" value="gaza" type="submit"> Gaza</button>
                    </form>

                </div>
                <div style="display:flex; flex-direction:row">
                    <form method="post" action="/allActivities" style="width: 100%;">
                        <button id="ppuBtn" class="localbutton" onclick="setFilter('ppu')" name="filter" value="ppu" type="submit"> PPU</button>
                    </form>
                    <form method="post" action="/allActivities" style="width: 100%;">
                        <button id="huBtn" class="localbutton" onclick="setFilter('hu')" name="filter" value="hu" type="submit"> HU</button>
                    </form>
                    <form method="post" action="/allActivities" style="width: 100%;">
                        <button id="jeninBtn" class="localbutton" onclick="setFilter('jenin')" name="filter" value="jenin" type="submit"> Jenin</button>
                    </form>
                </div>

            </div>
        </div>
        <table id="activities-table" style="margin-top: 5%; border-style: solid; width:80%; float:left; margin-left: 10%;">
            <tr style="position: relative;">
                <th style="width: 10%; border-bottom:2px solid #000000">
                    //
                </th>
                <th style="width: 10%;border-bottom:2px solid #000000">
                    Number of Activities
                </th>
                <th style="width: 10%;border-bottom:2px solid #000000">
                    Add Activity
                </th>
                <th style="border-bottom:2px solid #000000">
                    Activities
                </th>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    All
                </td>
                <td style="width: 10%;">
                    <%=allActivities.length%>
                </td>
                <td style="width: 10%;">
                    <button disabled onclick="addActivityWindow('all')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">All Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <option value="<%= element.actID%>"><%= element.actName %></option>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    General
                </td>
                <td style="width: 10%;">

                    <%=allActivities.filter((obj) => obj.committee == "general" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('general')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">General Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "general")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    CB
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "cb" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('cb')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">CB Activities</option>
                           <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "cb")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    SCORE
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "score" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('score')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">SCORE Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "score")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    SCOPE
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "scope" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('scope')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">SCOPE Activities</option>
                           <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "scope")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    SCOME
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "scome" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('scome')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">SCOME Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "scome")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    SCORP
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "scorp" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('scorp')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">SCORP Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "scorp")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    SCORA
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "scora" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('scora')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">SCORA Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "scora")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
            <tr style="text-align: center;">
                <td style="width: 10%;">
                    SCOPH
                </td>
                <td style="width: 10%;">
                    <%=allActivities.filter((obj) => obj.committee == "scoph" ).length%>
                </td>
                <td style="width: 10%;">
                    <button onclick="addActivityWindow('scoph')">Add Activity</button>
                </td>
                <td>
                    <form method="post" action="/selectAct" style="width:100%">
                        <select name="activity" style="width: 100%;" onchange="this.form.submit()">
                            <option selected hidden value="-1">SCOPH Activities</option>
                            <% allActivities.forEach( element=> { %>
                                <% if (element.committee == "scoph")  {%>
                                    <option value="<%=element.actID%>"><%= element.actName %></option>
                                <%}%>
                            <% }) %>
                        </select>
                    </form>
                </td>
            </tr>
        </table>
    </div>


    <script>
        if ("<%=position%>" != "CBD" && "<%=userLC%>" != "national"){
            formats = document.getElementsByClassName("allTrainersForm")
            for (var j = 0; j < formats.length; j++){
                elements = formats[j].elements
                for (var i = 0; i < elements.length; i++){
                    elements[i].remove()
                }
                formats[j].remove()
            }
        }


        const hiddenUserIn = document.createElement('input');
        hiddenUserIn.setAttribute('type', 'hidden');
        hiddenUserIn.setAttribute('name', "username");
        hiddenUserIn.setAttribute('value', "<%=user%>");

        const hiddenLCIn = document.createElement('input');
        hiddenLCIn.setAttribute('type', 'hidden');
        hiddenLCIn.setAttribute('name', "localCommittee");
        hiddenLCIn.setAttribute('value', "<%=userLC%>");

        const hiddenCipherIn = document.createElement('input');
        hiddenCipherIn.setAttribute('type', 'hidden');
        hiddenCipherIn.setAttribute('name', "cipher");
        hiddenCipherIn.setAttribute('value', "<%=cipher%>");

        const hiddenPositionIn = document.createElement('input');
        hiddenPositionIn.setAttribute('type', 'hidden');
        hiddenPositionIn.setAttribute('name', "position");
        hiddenPositionIn.setAttribute('value', "<%=position%>");
        
        const hiddenCurrentFilter = document.createElement('input');
        hiddenCurrentFilter.setAttribute('type', 'hidden');
        hiddenCurrentFilter.setAttribute('name', "curFilter");
        hiddenCurrentFilter.setAttribute('value', "<%=filter%>");

        const hiddenMemNum = document.createElement('input');
        hiddenMemNum.setAttribute('type', 'hidden');
        hiddenMemNum.setAttribute('name', "currentMemNum");
        hiddenMemNum.setAttribute('value', "0");

        const hiddenDirection = document.createElement('input');
        hiddenDirection.setAttribute('type', 'hidden');
        hiddenDirection.setAttribute('name', "direction");
        hiddenDirection.setAttribute('value', "next");

        const forms = document.forms;
        console.log(forms)
        for (let i = 0; i < forms.length; i++) {
            forms[i].appendChild(document.importNode(hiddenUserIn, true))
            forms[i].appendChild(document.importNode(hiddenLCIn, true))
            forms[i].appendChild(document.importNode(hiddenCipherIn, true))
            forms[i].appendChild(document.importNode(hiddenPositionIn, true))
            forms[i].appendChild(document.importNode(hiddenCurrentFilter, true))
            forms[i].appendChild(document.importNode(hiddenMemNum, true))
            forms[i].appendChild(document.importNode(hiddenDirection, true))
        }

        var cur_time = new Date();
        document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
        document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()+1<10)?("0"+cur_time.getMonth()+1):cur_time.getMonth()+1}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
        var intervalId = setInterval(function() {
            var cur_time = new Date();
            document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
            document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()+1<10)?("0"+cur_time.getMonth()+1):cur_time.getMonth()+1}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
        }, 1000);


        var filterLC;

        if ("<%=userLC%>" != "national") {
            document.getElementById("boxesSec").style.display = "none";
            document.getElementById("participatingCommittees").style.display = "none";
        } 

        lcs = ['national', 'nablus', 'jerusalem', 'gaza', 'ppu', 'hu', 'jenin']

        const allLCs = ['jerusalem', 'nablus', 'jenin', 'ppu', 'hu', 'gaza']
        const tagList = []
        allLCs.forEach((element) =>{
            if (tagList.includes(element)){
                createTag(element)
            }else{
                removeTag(element)
            }
        })
        document.getElementsByName("participatingLCs")[0].value = ""
        

        function createTag(LC){
            LCname = LC.value;
            document.getElementsByName("participatingLCs")[0].value +=  `${LC.value},`
            console.log(document.getElementsByName("participatingLCs")[0].value)
            if (LCname != "--none--"){
                console.log("selected " + LCname)
            }
            let node = document.getElementById(`${LCname}opt`)
            if (typeof(node) != 'undefined' && node != null)
            {
                node.remove();
            }
            
            lcTag = document.createElement("div")
            lcTag.classList.add('tagContainer')
            lcTag.setAttribute('id', `${LCname}tag`)

            lcButton=document.createElement("button")
            lcButton.classList.add('tagButton')
            lcButton.setAttribute("type", "button")
            lcButton.setAttribute("value", LCname)
            lcButton.setAttribute("onClick","removeTag(this.value)")
            
            lcXimg = document.createElement("img")
            lcXimg.setAttribute("width", "10px")
            lcXimg.setAttribute("height", "10px")
            lcXimg.setAttribute("src", "../../public/images/x_transparent.jpeg")
            
            lcButton.appendChild(lcXimg)

            lclabel = document.createElement("label")
            lclabel.innerHTML = LCname[0].toUpperCase() + LCname.slice(1)

            lcTag.appendChild(lcButton)
            lcTag.appendChild(lclabel)

            document.getElementById("participatingLcs").appendChild(lcTag)
            
        }

        function removeTag(src){
            console.log(src)
            let node = document.getElementById(`${src}tag`);
            if (typeof(node) != 'undefined' && node != null)
            {
                node.remove();
            }
            let option = document.createElement("option")
            option.id = `${src}opt`
            option.text = src
            option.value = src
            option.onselect = "createTag(value)"
            document.getElementById("lcSelect").add(option)
            document.getElementsByName("participatingLCs")[0].value = document.getElementsByName("participatingLCs")[0].value.replace(`${src},`, '')
        }


        setFilter("<%=filter%>")

        function setFilter(localCommittee) {
            console.log("setFilter(<%=filter%>)")
            lcs.forEach((element) => {
                temp = document.getElementById(`${element}Btn`)
                temp.style.borderStyle = "none"
                if (element == "national")
                    temp.style.borderStyle = "solid"
                temp.style.borderColor = "black"
                temp.style.scale = 1;
                temp.style.zIndex = 1;
            })
            console.log(`Current Filter ${filterLC}, Next Filter <%=filter%>`)
            if ("<%=filter%>" == "all"){
                console.log("filter == all")
            }else{
                lcBtn = document.getElementById(`${localCommittee}Btn`)
                lcBtn.style.borderColor = "rgb(0, 119, 255)"
                lcBtn.style.borderStyle = "solid"
                lcBtn.style.scale = 1.2;
                lcBtn.style.zIndex = 100;
                lcBtn.style.position = "relative"
            }
            
        }



        function addActivityWindow(committee) {
            let properString;
            if (committee == "general") {
                properString = committee.charAt(0).toUpperCase() + committee.slice(1);
            } else {
                properString = committee.toUpperCase();
            }

            document.getElementById("addActivityTitle").innerHTML = `Add ${properString} Activity`
            document.getElementById("newActivityWindow").style.display = "flex"

            document.getElementById("standingCommittee").value=committee;
            console.log(document.getElementById("standingCommittee").value)
        }

        function addActivityClose() {
            document.getElementById("newActivityWindow").style.display = "none"
        }

        
    </script>

</body>

</html>