<!DOCTYPE html>
<html>
<!-- TODO add search -->
<head>
    <link rel="stylesheet" href="../styles/common.css">
    <style>
        .fullbox {
        background-color: transparent;
        border-style: solid;
        border-color: #0887f0;
        border-width: 1px;
        height: 800px;
        min-width: max-content;
        min-height: max-content;
        width: 94%;
        padding-bottom: 3%;
        margin-left: 1%;
        margin-right: 3%;
        margin-top: 4%;
        box-shadow: 5px 5px 5px #0887f0;
        position: absolute;
        float: left;
        scale: 0.9;
    }

        #boxesSec {
            margin-top: 5%;
            height: 70%;
            align-items: center;
            position: relative;
        }
        
        #nationalBtn {
            float: left;
            display: inline-block;
            margin-left: 15%;
            margin-right: 10%;
            padding: 40px;
            text-align: center;
            font-size: 30px;
            border-style: solid;
            border-color: #000000;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
        }
        
        #nationalBtn:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        #boxesTable {
            float: right;
            margin-right: 25%;
            width: 25%;
            min-width: max-content;
            display: inline-block;
            border-collapse: collapse;
            border-style: solid;
            border-color: black;
            height: 122px;
            align-items: center;
            font-size: large;
            position: relative;
        }
        
        #boxesTable td {
            position: relative;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            font-size: 22px;
            width: 10%;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
            z-index: 1;
        }
        
        td:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.1);
            z-index: 100;
            border-style: solid;
        }
        
        #boxesTable tr {
            min-width: max-content;
            width: max-content;
            min-height: max-content;
            height: max-content;
            z-index: 1;
        }
        
        #personalInfo {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: auto;
            grid-template-areas: "header header header" "menu main main" "menu main main" "menu main main" "menu main main";
        }
        
        #personalInfo>div {
            text-align: center;
            font-size: 20px;
        }
        
        .localbox:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        .cyclePartBtn {
            padding: 10%;
            width: 60%;
            margin-top: 1%;
            background-color: transparent;
            border-style: solid;
            border-color: #000000;
            transition-duration: 0.25s;
        }
        
        .cyclePartBtn:hover {
            -ms-transform: scale(1.01);
            /* IE 9 */
            -webkit-transform: scale(1.01);
            /* Safari 3-8 */
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
            cursor: pointer;
        }

        .updateMemberWindow{
            display: none;
            flex-direction: column;
            position: absolute;
            background: whitesmoke;
            box-shadow: 2px 2px 0px 2px #4e4e4e;
            width: 99%;
            margin: 0.5%;
            margin-bottom: 1%;
            height: 98%;
            z-index: 50;
        }
        #newMemberForm>* {
            padding-bottom: .7%;
            padding-top: .7%;
            padding-left:5px;
            padding-right:5px;
            border-bottom: solid 1px #545353
        }
        #editMemberForm>* {
            padding-bottom: .7%;
            padding-top: .7%;
            padding-left:5px;
            padding-right:5px;
            border-bottom: solid 1px #545353
        }
        #searchlist >*:not(#exception) :hover {
            background-color: #848484;
            cursor:pointer;
        }
        #searchlist li {
            display: flex;
            flex-direction:row;
            border-bottom:1px solid #4e4e4e;
            margin-bottom: 5px;
            padding-bottom: 5px
        }

    </style>
</head>

<body>
    <div class="fullbox" style="display: flex; flex-direction: column;">
        <div class="updateMemberWindow" id = "searchWindow">
                <div style="display: flex; flex-direction:column; padding:5%">
                    <div style="float:left; display:flex; flex-direction:row; margin:1% 0%;">
                        <form method="post" action="/searchMember">
                            <label style="margin:1% 1%">
                                Search: 
                            </label>

                            <input style="margin:1% 1%" placeholder="Member Name" name="memberLike" value="">

                            <button type="submit" style="margin:1% 1%; font-size:larger"> submit</button>
                        </form>
                    </div>
                    <div style="margin:1% 0%; padding: 1% 0%; border-style:solid; display:flex; flex-direction:column;">
                        <h1  style="border-bottom: solid black;"> Search results: </h1>
                            <ul id="searchlist" style="list-style: none; overflow:scroll;">
                                <li id = "exception"> 
                                    <div style="display: flex; flex-direction:row; border-bottom:1px solid #4e4e4e; padding-bottom:5px; margin-bottom: 5px;">
                                            <div style="margin:0% 5%; width:15.2px;"></div>
                                            <label style="width:42%">Member Number</label>
                                            <label style="width:42%">Member Name</label>
                                    </div>
                                </li>
                                
                            </ul>
                            <div style="display: flex; flex-direction:column; width: 10%; margin-left: 5%">
                                <button onclick="searchMemClose()" type="button" > Cancel</button>
                            </div>  
                    </div>
                </div>
        </div>
        <div class ="updateMemberWindow" id="newMemberWindow">
                <form id="newMemberForm" style="display: flex; flex-direction:column; width:90%; margin: 0% 5%">
                    <h1>Add a New Member</h1>
                    <div style="display: flex; flex-direction:row; width:100%; padding-bottom:7px; border-bottom:none">
                        <div style="width:15%"></div>
                        <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">English</div>
                        <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">Arabic</div>
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            First Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english first name " name="engFname">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%"  placeholder="arabic first name" name="arabFname">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Father Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english father name" name="engFather">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic father name" name="arabFather">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Grandfather Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english grandfather name" name="engGfather">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic grandfather name" name="arabGfather">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Family Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english last name" name="engLname">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic last name" name="arabLname">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Phone NO
                        </label>
                        <label style="margin-left:10%">+</label>
                        <input required type="text" pattern="^[0-9]{3}$" style="width: 3%;" placeholder="+970" name="areaCode">
                        <input required type="text" pattern="^[0-9]{9}$" style="width: 27%; margin:0% 2%" placeholder="phone number" name="phoneNo">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Email
                        </label>
                        <input required type="email" style="margin: 0% 12.5%; width: 20%" placeholder="E-Mail" name="email">
                    </div>
                    <div  style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            First Year
                        </label>
                        <input id="firstYearField" required type="number" min="1999" style="margin: 0% 12.5%; width: 20%" placeholder="first year of university" name="firstYear">
                    </div>
                    <div  style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            University Number
                        </label>
                        <input required type="text" pattern="^[0-9]*$" style="margin: 0% 12.5%; width: 20%" placeholder="University ID" name="uniNum">
                    </div>
                    <div style="display: flex; flex-direction: row; width:100%">
                            <label style="margin-right:5%; width:10%">
                                Local Committee
                            </label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcnablus"    value="nablus" name="localCommittee" >Nablus</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcjerusalem" value="jerusalem" name="localCommittee" >Jerusalem</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcgaza" value="gaza" name="localCommittee" >Gaza</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcppu" value="ppu" name="localCommittee" >PPU</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lchu" value="hu" name="localCommittee" >HU</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcjinin" value="jinin" name="localCommittee" >Jinin</label>
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Member Status
                        </label>
                        <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="active" name="memberStatus">Active</label>
                        <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="inactive" name="memberStatus">Inactive</label>
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Trainer Status
                        </label>
                        <label style="width: 15%; margin:0% 5%"><input required type="radio" value="active" name="trainerStatus">Active</label>
                        <label style="width: 15%; margin:0% 5%"><input required type="radio" value="inactive" name="trainerStatus">Inactive</label>
                    </div>

                    <div style="margin-top: 3%;">
                        <button type="submit">Submit</button>
                        <button type="button" onclick="addMemClose()"> Cancel</button>
                    </div>
                </form>
        </div>

        <div id="editMemberWindow" class="updateMemberWindow">
                <form id="editMemberForm" style="display: flex; flex-direction:column; width:90%; margin: 0% 5%;">
                    <h1>Edit Member <%=uniNum%></h1>
                    <div style="display: flex; flex-direction:row; width:100%; padding-bottom:7px; border-bottom:none">
                        <div style="width:15%"></div>
                        <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">English</div>
                        <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">Arabic</div>
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            First Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english first name " name="engFname" value="<%=engFname%>">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%"  placeholder="arabic first name" name = "arabFname" value="<%=arabFname%>">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Father Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english father name" name="engFather" value="<%=engFather%>">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic father name" name ="arabFather"value="<%=arabFather%>">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Grandfather Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english grandfather name" name="engGfather"value="<%=engGfather%>">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic grandfather name" name="arabGfather"value="<%=arabGfather%>">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Family Name
                        </label>
                        <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english last name" name="engLname" value="<%=engLname%>">
                        <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic last name" name="arabLname" value="<%=arabLname%>">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Phone NO
                        </label>
                        <label style="margin-left:10%">+</label>
                        <input required type="text" pattern="^[0-9]{3}$" style="width: 3%;" placeholder="+970" name="areaCode" value="<%=areaCode%>">
                        <input required type="text" pattern="^[0-9]{9}$" style="width: 27%; margin:0% 2%" placeholder="phone number" name="phoneNo" value="<%=phoneNo%>">
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Email
                        </label>
                        <input required type="email" style="margin: 0% 12.5%; width: 20%" placeholder="E-Mail" name="email" value="<%=email%>">
                    </div>
                    <div  style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            First Year
                        </label>
                        <input id="firstYearField" required type="number" min="1999" style="margin: 0% 12.5%; width: 20%" placeholder="first year of university" name="firstYear" value="<%=firstYear%>">
                    </div>
                    <div  style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            University Number
                        </label>
                        <input  required type="text" pattern="^[0-9]*$" style="margin: 0% 12.5%; width: 20%" placeholder="University ID" name="uniNum" value="<%=uniNum%>">
                    </div>
                    <div style="display: flex; flex-direction: row; width:100%">
                            <label style="margin-right:5%; width:10%">
                                Local Committee
                            </label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcnablus"    value="nablus" name="localCommittee" >Nablus</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcjerusalem" value="jerusalem" name="localCommittee" >Jerusalem</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcgaza" value="gaza" name="localCommittee" >Gaza</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcppu" value="ppu" name="localCommittee" >PPU</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lchu" value="hu" name="localCommittee" >HU</label>
                            <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcjinin" value="jinin" name="localCommittee" >Jinin</label>
                    </div>

                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Member Status
                        </label>
                        <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="active" name="memberStatus" id="memStatusEditActive">Active</label>
                        <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="inactive" name="memberStatus" id="memStatusEditInactive">Inactive</label>
                    </div>
                    <div style="display: flex; flex-direction:row; width:100%">
                        <label style="margin-right:5%; width:10%">
                            Trainer Status
                        </label>
                        <label style="width: 15%; margin:0% 5%"><input required type="radio" value="active" name="trainerStatus" id="trainerStatusEditActive">Active</label>
                        <label style="width: 15%; margin:0% 5%"><input required type="radio" value="inactive" name="trainerStatus" id="trainerStatusEditInactive">Inactive</label>
                    </div>
                    <div style="display: flex; flex-direction:column; width:100%">
                        <div style="display: flex; flex-direction: row; width:100%">
                            <label style="margin-right:5%; width:10%">
                                BlackList Status
                            </label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blred"    value="red" name="blackListStatus" >Red</label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blorange" value="orange" name="blackListStatus" >Orange</label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blyellow" value="yellow" name="blackListStatus" >Yellow</label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blblue" value="blue" name="blackListStatus" >Blue</label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blgreen" value="green" name="blackListStatus" >Green</label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blexchange" value="exchange" name="blackListStatus" >Exchange</label>
                            <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blclear" value="clear" name="blackListStatus" >Clear</label>
                        </div>
                        <div style="display:flex; flex-direction:row; margin-top: 10px">
                            <label style="margin-right:5%; width:10%">
                            BlackList Reason
                            </label>
                            <textarea style="margin:0% 5%; width:50%; height:100px; resize:none"type="textarea" rows="4" cols="125" maxlength="500" id="blreason" value="<%=blacklistReason%>" name="blackListReason" placeholder="write a max of 500 character to describe reason for blacklisting"></textarea>
                        </div>
                    </div>

                    <div style="margin-top: 0.5%;">
                        <button type="submit">Submit</button>
                        <button type="button" onclick="editMemClose()"> Cancel</button>
                    </div>
                </form>
        </div>
            
        <div style="display: flex; flex-direction: column;">
            <div class="line" style=" position: relative; width:max-content; margin-left : 3%">
                <div style="display: inline-block; padding-right : 5% auto">
                    <!-- title -->
                    <h1 style="margin-right:25px">Welcome
                        <%=user%>
                    </h1>
                </div>
                <!-- time and date -->
                <div style="display: inline-block; margin-right : 5% auto; ">
                    <text id="current_date"></text><br>
                    <text id="current_time"></text>
                </div>
            </div>
            

             <div id="boxesSec">
                <button id=nationalBtn onclick="setFilter('national')" >
                    National
                </button>

                <div style="display:flex; flex-direction:column; width:30%;  position:relative; border-style:solid">
                    <div style="display:flex; flex-direction:row">
                        <button id="nablusBtn"class="localbutton" onclick="setFilter('nablus')"> Nablus</button>
                        <button id="jerusalemBtn"class="localbutton" onclick="setFilter('jerusalem')"> Jerusalem</button>
                        <button id="gazaBtn"class="localbutton" onclick="setFilter('gaza')"> Gaza</button>
                    </div>
                    <div style="display:flex; flex-direction:row">
                        <button id="ppuBtn"class="localbutton" onclick="setFilter('ppu')"> PPU</button>
                        <button id="huBtn"class="localbutton" onclick="setFilter('hu')"> HU</button>
                        <button id="jininBtn"class="localbutton" onclick="setFilter('jinin')"> Jinin</button>
                    </div>

                </div>
             </div>

        <div style=" display: flex; flex-direction: row; text-align: center; margin-top: 2%;">
            <div style="width: 50%; min-width: 920px;;display: flex; flex-direction: column; margin-right: 1%;">
                <div id="personalInfo">
                    <div style="grid-area: header;">
                        <div style="display:flex; flex-direction: row; color: rgb(0, 119, 255);">
                            <div style="width: 33%; min-width: 33%;">
                            </div>
                            <div style="padding-left:6.9%;padding-right:6.9%; width: 19.2%; border-bottom: solid rgb(0, 119, 255);">
                                English
                            </div>
                            <div style="padding-left:6.9%;padding-right:6.9%; width: 19.2%;border-bottom: solid rgb(0, 119, 255);">
                                Arabic
                            </div>
                        </div>
                    </div>
                    <div style="grid-area: main;">
                        <div style="display:flex; flex-direction: column; font-size: 20px;">
                            <div style="display: flex; flex-direction: row;">
                                <div id="engFname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engFname%>
                                </div>
                                <div id="arabFname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabFname%>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div id="engFather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engFather%>
                                </div>
                                <div id="arabFather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabFather%>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div id="engGfather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engGfather%>
                                </div>
                                <div id="arabGfather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabGfather%>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div id="engLname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engLname%>
                                </div>
                                <div id="arabLname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabLname%>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="grid-area: menu; display: flex; flex-direction: column; font-size: 20px;">
                        <div>
                            First Name
                        </div>
                        <div>
                            Father Name
                        </div>
                        <div>
                            Grandfather Name
                        </div>
                        <div>
                            Family Name
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 1.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Phone No.
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px; display: flex; flex-direction: row;">
                        <div id="areaCode"style="width: 15%; padding:1px; border: solid; min-width: fit-content">
                            +<%=areaCode%>
                        </div>
                        <div id="phoneNo"style="margin-left: 4%;width: 80%; padding:1px; border: solid; min-width: fit-content">
                            <%=phoneNo%>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Email
                    </div>
                    <div id="Email"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=email%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Freshmen Year
                    </div>
                    <div id="firstYear"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=firstYear%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        University Number
                    </div>
                    <div id="uniNum"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=uniNum%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Local Committee
                    </div>
                    <div id="uniNum"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=localCommittee%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Membership Status
                    </div>
                    <div id="memStatus"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=memStatus%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Trainer Status
                    </div>
                    <div id="trainerStatus"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=trainerStatus%>
                    </div>
                </div>
                <div style="background-color: #000000; color:white; display: flex; flex-direction: row; width: 95%; margin-left:2.5%; margin-right:2.5% ;margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Blacklist Status
                    </div>
                    <div id="blacklistStatus"style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=blacklistStatus%>
                    </div>
                </div>
            </div>
            <div style="max-height: 93%;display: flex; flex-direction: row; border-style: solid;">
                <div style="float:left ;margin-left: 2%; margin-right: 2%; max-width: 40%; max-height: 80%;">
                    <h1>National</h1>
                    <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                        <% nationalActivities.forEach( element=> { %>
                            <li>
                                <%= element.actName %>
                            </li>
                            <% }) %>
                    </ol>

                </div>
                <div style="width:10%; background-color:  #4e4e4e;">
                </div>
                <div style="float:left ;margin-left: 2%; margin-right: 2%; max-width: 40%; max-height: 80%;">
                    <h1>Local</h1>
                    <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                        <% localActivities.forEach( element=> { %>
                            <li>
                                <%= element.actName %>
                            </li>
                            <% }) %>
                    </ol>

                </div>

            </div>
            <div style="display: flex; flex-direction: column; min-width: max-content; padding-top: 1%; width : 10%; align-items:center">
                <button class="cyclePartBtn" onclick="nextMemCycle()">
                    Next
                </button>
                <button class="cyclePartBtn" onclick="prevMemCycle()">
                    Prev
                </button>
                <button class="cyclePartBtn" onclick="searchMemPopUp()">
                    Search
                </button>
                <button class="cyclePartBtn" onclick="addMemPopUp()">
                    Add
                </button>
                <button class="cyclePartBtn" onclick="editMemPopUp()">
                    Edit
                </button>
                <button class="cyclePartBtn" onclick="DeleteMemPopUp()">
                    Delete
                </button>
            </div>
            
        </div>
    </div>



    <script>      
        // TODO fix the search for God's sake 
        if ("<%=userLC%>" != "national"){
            document.getElementById("boxesSec").style.display="none"
        }

        var filterLC;
        lcs = ['national','nablus', 'jerusalem', 'gaza', 'ppu', 'hu', 'jinin']
        setFilter("<%=userLC%>")

        firstYearField.setAttribute("max", Number(`${cur_time.getFullYear()}`))

        const hiddenUserIn = document.createElement('input');
        hiddenUserIn.setAttribute('type', 'hidden');
        hiddenUserIn.setAttribute('name', "username");
        hiddenUserIn.setAttribute('value',"<%=user%>");

        const hiddenCipherIn = document.createElement('input');
        hiddenCipherIn.setAttribute('type', 'hidden');
        hiddenCipherIn.setAttribute('name', "cipher");
        hiddenCipherIn.setAttribute('value',"<%=cipher%>");

        const hiddenFilterin = document.createElement('input');
        hiddenFilterin.setAttribute('type', 'hidden');
        hiddenFilterin.setAttribute('name', "filter");

        const forms = document.forms;
        
        for (let i = 0; i <forms.length; i++){
            forms[i].appendChild(hiddenUserIn);
            forms[i].appendChild(hiddenCipherIn);
            forms[i].appendChild(hiddenFilterin);
        }

        function setFilter(localCommittee){
            filterLC = localCommittee;
            lcs.forEach((element) =>{
                temp = document.getElementById(`${element}Btn`)
                temp.style.borderStyle = "none"
                if (element == "national")
                    temp.style.borderStyle = "solid"
                temp.style.borderColor = "black"
                temp.style.scale = 1;
                temp.style.zIndex = 1;
            })
            lcBtn = document.getElementById(`${localCommittee}Btn`)
            lcBtn.style.borderColor = "rgb(0, 119, 255)"
            lcBtn.style.borderStyle = "solid"
            lcBtn.style.scale = 1.2;
            lcBtn.style.zIndex = 100;
            lcBtn.style.position = "relative"
            hiddenFilterin.setAttribute('value', localCommittee)
            for (let i = 0; i < forms.length; i++){
                forms[i].appendChild(hiddenFilterin);
            }
        }

        let curMemNumber = Number("<%=curMemNumber%>");
        const firstYearField = document.getElementById("firstYearField")
        var cur_time = new Date();
        document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
        document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()+1<10)?("0"+cur_time.getMonth()+1):cur_time.getMonth()+1}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
        var intervalId = setInterval(function() {
            var cur_time = new Date();
            document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
            document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()+1<10)?("0"+cur_time.getMonth()+1):cur_time.getMonth()+1}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
        }, 1000);

       

        
        const user_details = {
            username : "<%=user%>",
            cipher : "<%=cipher%>"
        };

        function nextMemCycle(){
            const xhr = new XMLHttpRequest();
            xhr.open("POST","/nextMember",true);
            xhr.setRequestHeader("Content-Type", "application/json");
            const data = user_details;
            data["curMemNumber"] = Number(curMemNumber);
            const reqString = JSON.stringify(data);
            xhr.send(reqString)
        }

        function prevMemCycle(){
            const xhr = new XMLHttpRequest();
            xhr.open("POST","/prevMember",true);
            xhr.setRequestHeader("Content-Type", "application/json");
            const data = user_details;
            data["curMemNumber"] = Number(curMemNumber);
            const reqString = JSON.stringify(data);
            xhr.send(reqString)
        }

        function addMemPopUp(){
            const element = document.getElementById("newMemberWindow")
            element.style.display = "flex"
        }
        function addMemClose(){
            const element = document.getElementById("newMemberWindow")
            element.style.display= "none"
        }

        const blacklistMap = new Map();
        blacklistMap.set('clear', 0);
        blacklistMap.set('red', 1);
        blacklistMap.set('orange', 2);
        blacklistMap.set('yellow', 3);
        blacklistMap.set('blue', 4);
        blacklistMap.set('green', 5);
        blacklistMap.set('exchange', 6);

        function editMemPopUp(){
            const element = document.getElementById("editMemberWindow")
            element.style.display = "flex"
            //set known values
            if("<%=memStatus%>" == "active"){
            document.getElementById("memStatusEditActive").setAttribute("checked",true)
            }else{
                document.getElementById("memStatusEditInactive").setAttribute("checked",true)
            }
            if("<%=trainerStatus%>" == "active"){
                document.getElementById("trainerStatusEditActive").setAttribute("checked",true)
            }else{
                document.getElementById("trainerStatusEditInactive").setAttribute("checked",true)
            }

            document.getElementById(`bl${"<%=blacklistStatus%>"}`).checked = true;
            document.getElementById(`lc${"<%=localCommittee%>"}`).checked = true;

        }

        function checkReason(src){
            if (src == "blclear"){
                document.getElementById('blreason').setAttribute('disabled',true)
                document.getElementById('blreason').removeAttribute('required')
            }else{
                document.getElementById('blreason').removeAttribute('disabled')
                document.getElementById('blreason').setAttribute('required',true)
            }
        }

        function editMemClose(){
            const element = document.getElementById("editMemberWindow")
            element.style.display = "none"
        }


        document.getElementById("newMemberForm").addEventListener('submit', (event) => {
            event.preventDefault();
            fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((response) => {
                if(!response.ok){
                    alarm(`HTTP ERROR! STATUS: ${response.status}`)
                }
                else{
                    alarm(response.text())
                }
            })
        
        })
        

        document.getElementById("editMemberForm").addEventListener('submit', (event) => {
            event.preventDefault();
            fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((response) => {
                if(!response.ok){
                    alarm(`HTTP ERROR! STATUS: ${response.status}`)
                }
                else{
                    alarm(response.text())
                }
            })
        })

        function searchMemPopUp(){
            console.log("noor")
            const element = document.getElementById("searchWindow")
            element.style.display = "flex"
        }
        function searchMemClose(){
            const element = document.getElementById("searchWindow")
            element.style.display = "none"
        }
        function selectMember(memNumber){
            const xhr = new XMLHttpRequest();
            xhr.open("POST","/selectMember",true);
            xhr.setRequestHeader("Content-Type", "application/json");
            const data = user_details;
            data["memNumber"] = Number(memNumber);
            const reqString = JSON.stringify(data);
            xhr.send(reqString)
        }



    </script>

</body>

</html>