<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=../../public/styles/common.css>
    <style>
        
        .fullbox {
            background-color: transparent;
            border-style: solid;
            border-color: #0887f0;
            border-width: 1px;
            height: 800px;
            min-width: max-content;
            min-height: max-content;
            width: 94%;
            padding-bottom: 3%;
            margin-left: 1%;
            margin-right: 3%;
            margin-top: 4%;
            box-shadow: 5px 5px 5px #0887f0;
            position: absolute;
            float: left;
            scale: 0.9;
            overflow-y: scroll;
        }
        
        #boxesSec {
            margin-top: 5%;
            height: 70%;
            align-items: center;
            position: relative;
        }
        
        #nationalBtn {
            float: left;
            display: inline-block;
            margin-left: 15%;
            margin-right: 10%;
            padding: 40px;
            text-align: center;
            font-size: 30px;
            border-style: solid;
            border-color: #000000;
            background-color: transparent;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
            cursor: pointer;
        }
        
        #nationalBtn:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        #boxesTable {
            float: right;
            margin-right: 25%;
            width: 25%;
            min-width: max-content;
            display: inline-block;
            border-collapse: collapse;
            border-style: solid;
            border-color: black;
            height: 122px;
            align-items: center;
            font-size: large;
            position: relative;
        }
        
        #boxesTable td {
            position: relative;
            text-align: center;
            border-style: solid;
            border-width: 2px;
            font-size: 22px;
            width: 10%;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
            z-index: 1;
        }
        
        td:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.1);
            z-index: 100;
            border-style: solid;
        }
        
        #boxesTable tr {
            min-width: max-content;
            width: max-content;
            min-height: max-content;
            height: max-content;
            z-index: 1;
        }
        
        #personalInfo {
            display: grid;
            grid-template-columns: 350px 350px 350px;
            grid-template-rows: auto;
            grid-template-areas: "header header header" "menu main main" "menu main main" "menu main main" "menu main main";
        }
        
        #personalInfo>div {
            text-align: center;
            font-size: 20px;
            overflow: hidden;
        }
        
        .localbox:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        .cyclePartBtn {
            padding: 10%;
            width: 60%;
            margin-top: 1%;
            background-color: transparent;
            border-style: solid;
            border-color: #000000;
            transition-duration: 0.25s;
        }
        
        .cyclePartBtn:hover {
            -ms-transform: scale(1.01);
            /* IE 9 */
            -webkit-transform: scale(1.01);
            /* Safari 3-8 */
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
            cursor: pointer;
        }
        
        .updateMemberWindow {
            display: none;
            flex-direction: column;
            position: absolute;
            background: whitesmoke;
            box-shadow: 2px 2px 0px 2px #4e4e4e;
            width: 99%;
            margin: 0.5%;
            margin-bottom: 1%;
            height: 98%;
            z-index: 101;
            height:fit-content
        }
        
        #newMemberForm>* {
            padding-bottom: .7%;
            padding-top: .7%;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: solid 1px #545353
        }
        
        #editMemberForm>* {
            padding-bottom: .7%;
            padding-top: .7%;
            padding-left: 5px;
            padding-right: 5px;
            border-bottom: solid 1px #545353;
        }
        
        

        #names>div {
            height: 40px;
            overflow-y: hidden;
            overflow-x: hidden;
        }
        #names>div>div {
            height: 40px;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        .localbutton {
            background-color: white;
            cursor: pointer;
        }
        .searchRowHeader{
            display: flex;
            flex-direction:row;
            border-bottom:2px solid #131313; 
            width:90%; 
            margin:0% 5%;
            padding-bottom:5px; 
            margin-bottom: 5px;
            text-align: center; 
        }
        .searchRow{
            display: flex;
            flex-direction:row;
            text-align: center;
            border-bottom:1px solid #4e4e4e; 
            width:90%; 
            margin:0% 5%;
            padding-bottom:5px; 
            margin-bottom: 5px;
            cursor: pointer; 
        }
        .searchRow:hover{
            background-color: rgb(200, 200, 200);
            cursor: pointer; 
        }
    </style>
</head>

<body>
    <div id = "navigationBar">
        <form class=PMSA_Logo method="post" action="/mainPage" onclick="this.submit()">
            <img src="../../public/images/PMSA_Web_Logo.png" >
        </form>
        <div style="width: 3%;"></div>
        <div class="borderLine"></div>
        <form class ="allMembersForm" method="post" action="/allMembers">
            <input type="hidden" name="direction" value="next">
            <input type="hidden" name="filterLC" value="<%=userLC%>">
            <input type="hidden" name="chosenLC" value="<%=userLC%>">
            <button class="width:100%" type="submit">
            All Members
            </button>
        </form>
        <div class="borderLine"></div>

        <!-- all trainers -->
        <form class ="allTrainersForm" method="post" action="/allTrainers">
            <input type="hidden" name="direction" value="next">
            <input type="hidden" name="filterLC" value="<%=userLC%>">
            <input type="hidden" name="chosenLC" value="<%=userLC%>">
            <button class="" type="submit">
            All Trainers
        </button>
        </form>
        <div class="borderLine"></div>
        <!-- all activities -->
        <form class="allActivitiesForm" method="post" action="/allActivities">
            <input type="hidden" name="filter" value="<%=userLC%>">
            <button class="" type="submit">
            All Activities
        </button>
        </form>
        <div class="borderLine"></div>

        <form class="blackListForm" method="post" action="/blackList">
            <button class="" type="submit">
            Black List
        </button>
        </form>
        <div class="borderLine"></div>
        <div style="margin-left: auto; " class="borderLine"></div>
        <form method="get" action="/login">
            <button type="submit">
            Logout
        </button>
        </form>
        <div  style="margin-right: 2%;" class="borderLine"></div>
    </div>

    <div class="fullbox" style="display: flex; flex-direction: column;">
        <div class="updateMemberWindow" id="searchWindow">
            <div style="display: flex; flex-direction:column; padding:5%">
                <div style="float:left; display:flex; flex-direction:row; margin:1% 0%;">
                    <form id = "searchMemeberForm"method="post" action="/searchMember">
                        <label style="margin:1% 1%">
                                Search: 
                            </label>

                        <input style="margin:1% 1%" placeholder="Member Name" name="memberLike" value="" >

                        <button type="button" style="margin:1% 1%;" onclick="submitSearch('searchMemeberForm')"> submit</button>
                    </form>
                </div>
                <div style="margin:1% 0%; padding: 1% 0%; border-style:solid; display:flex; flex-direction:column;">
                    <h1 style="border-bottom: solid black;"> Search results: </h1>
                    <ul id="searchlist" style="list-style: none; overflow:scroll;">
                        <li id="exception" style="width: 100%;">
                            <div class="searchRowHeader">
                                <div style="margin:0% 5%; width:15.2px;"></div>
                                <label style="width:42%">Member Number</label>
                                <label style="width:42%">Member Name</label>
                            </div>
                        </li>
                                               
                        

                    </ul>
                    <div style="display: flex; flex-direction:column; width: 10%; margin-left: 5%">
                        <button onclick="searchMemClose()" type="button"> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="updateMemberWindow" id="newMemberWindow">
            <form id="newMemberForm" style="display: flex; flex-direction:column; width:90%; margin: 0% 5%" method="post" action="/addNewMem">
                <h1>Add a New Member</h1>
                <div style="display: flex; flex-direction:row; width:100%; padding-bottom:7px; border-bottom:none">
                    <div style="width:15%"></div>
                    <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">English</div>
                    <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">Arabic</div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            First Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english first name " name="engFname">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic first name" name="arabFname">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Father Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english father name" name="engFather">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic father name" name="arabFather">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Grandfather Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english grandfather name" name="engGfather">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic grandfather name" name="arabGfather">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Family Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english last name" name="engLname">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic last name" name="arabLname">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Phone NO
                        </label>
                    <label style="margin-left:10%">+</label>
                    <input required type="text" pattern="^[0-9]{3}$" style="width: 3%;" placeholder="+970" name="areaCode">
                    <input required type="text" pattern="^[0-9]{9}$" style="width: 27%; margin:0% 2%" placeholder="phone number" name="phoneNo">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Email
                        </label>
                    <input required type="email" style="margin: 0% 12.5%; width: 20%" placeholder="E-Mail" name="email">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            FabookLink
                        </label>
                    <input required type="url" style="margin: 0% 12.5%; width: 20%" placeholder="facebook profile link" name="facebook">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            First Year
                        </label>
                    <input id="firstYearField" required type="number" min="1999" style="margin: 0% 12.5%; width: 20%" placeholder="first year of university" name="firstYear">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            University Number
                        </label>
                    <input required type="text" pattern="^[0-9]*$" style="margin: 0% 12.5%; width: 20%" placeholder="University ID" name="uniNum">
                </div>
                <div id="addSelectLC" style="display: flex; flex-direction: row; width:100%">
                    <label style="margin-right:5%; width:10%">
                                Local Committee
                            </label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcnablus"    value="nablus"      name="newLocalCommittee" >Nablus</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcjerusalem" value="jerusalem"   name="newLocalCommittee" >Jerusalem</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcgaza" value="gaza"             name="newLocalCommittee" >Gaza</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcppu" value="ppu"               name="newLocalCommittee" >PPU</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lchu" value="hu"                 name="newLocalCommittee" >HU</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "lcjenin" value="jenin"           name="newLocalCommittee" >Jenin</label>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Gender
                        </label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="male" name="gender">Male</label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="female" name="gender">Female</label>
                </div>

                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Member Status
                        </label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="active" name="memberStatus">Active</label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="inactive" name="memberStatus">Inactive</label>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Trainer Status
                        </label>
                    <label style="width: 15%; margin:0% 5%"><input required type="radio" value="active" name="trainerStatus">Active</label>
                    <label style="width: 15%; margin:0% 5%"><input required type="radio" value="inactive" name="trainerStatus">Inactive</label>
                </div>

                <div style="margin-top: 3%;">
                    <button type="button" onclick="memberForm('newMemberForm')">Submit</button>
                    <button type="button" onclick="addMemClose()"> Cancel</button>
                </div>
            </form>
        </div>

        <div id="editMemberWindow" class="updateMemberWindow">
            <form id="editMemberForm" style="display: flex; flex-direction:column; width:90%; margin: 0% 5%;" method="post" action="/editMem">
                <h1>Edit Member
                    <%=uniNum%>
                </h1>
                <div style="display: flex; flex-direction:row; width:100%; padding-bottom:7px; border-bottom:none">
                    <div style="width:15%"></div>
                    <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">English</div>
                    <div style="border-bottom: solid 2px rgb(0, 119, 255); color: rgb(0, 119, 255); width:15%; padding-bottom:3px; padding-top:5px; padding:0% 5%">Arabic</div>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            First Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english first name " name="engFname" value="<%=engFname%>">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic first name" name="arabFname" value="<%=arabFname%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Father Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english father name" name="engFather" value="<%=engFather%>">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic father name" name="arabFather" value="<%=arabFather%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Grandfather Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english grandfather name" name="engGfather" value="<%=engGfather%>">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic grandfather name" name="arabGfather" value="<%=arabGfather%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Family Name
                        </label>
                    <input required type="text" pattern="[a-zA-Z]*" style="width: 15%; margin:0% 5%" placeholder="english last name" name="engLname" value="<%=engLname%>">
                    <input required type="text" pattern="[ء-ي]*" style="width: 15%; margin:0% 5%" placeholder="arabic last name" name="arabLname" value="<%=arabLname%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Phone NO
                        </label>
                    <label style="margin-left:10%">+</label>
                    <input required type="text" pattern="^[0-9]{3}$" style="width: 3%;" placeholder="+970" name="areaCode" value="<%=areaCode%>">
                    <input required type="text" pattern="^[0-9]{9}$" style="width: 27%; margin:0% 2%" placeholder="phone number" name="phoneNo" value="<%=phoneNo%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Email
                        </label>
                    <input required type="email" style="margin: 0% 12.5%; width: 20%" placeholder="E-Mail" name="email" value="<%=email%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            FabookLink
                        </label>
                    <input required type="url" style="margin: 0% 12.5%; width: 20%" placeholder="E-Mail" name="facebook" value="<%=facebook%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            First Year
                        </label>
                    <input id="firstYearField" required type="number" min="1999" style="margin: 0% 12.5%; width: 20%" placeholder="first year of university" name="firstYear" value="<%=firstYear%>">
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            University Number
                        </label>
                    <input required type="text" pattern="^[0-9]*$" style="margin: 0% 12.5%; width: 20%" placeholder="University ID" name="uniNum" value="<%=uniNum%>">
                </div>

                <div id="editSelectLC" style="display: flex; flex-direction: row; width:100%">
                    <label style="margin-right:5%; width:10%">
                                Local Committee
                            </label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "editlcnablus"    value="nablus"      name="newLocalCommittee" >Nablus</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "editlcjerusalem" value="jerusalem"   name="newLocalCommittee" >Jerusalem</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "editlcgaza"      value="gaza"        name="newLocalCommittee" >Gaza</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "editlcppu"       value="ppu"         name="newLocalCommittee" >PPU</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "editlchu"        value="hu"          name="newLocalCommittee" >HU</label>
                    <label style="width: 10%; margin:0% 1%"><input required type="radio" id = "editlcjenin"     value="jenin"       name="newLocalCommittee" >Jenin</label>
                </div>

                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Gender
                        </label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" id="editGendermale" value="male" name="gender">Male</label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" id="editGenderfemale" value="female" name="gender">Female</label>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Member Status
                        </label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="active" name="memberStatus" id="memStatusEditActive">Active</label>
                    <label style="width: 15% ; margin:0% 5%"><input required type="radio" value="inactive" name="memberStatus" id="memStatusEditInactive">Inactive</label>
                </div>
                <div style="display: flex; flex-direction:row; width:100%">
                    <label style="margin-right:5%; width:10%">
                            Trainer Status
                        </label>
                    <label style="width: 15%; margin:0% 5%"><input required type="radio" value="active" name="trainerStatus" id="trainerStatusEditActive">Active</label>
                    <label style="width: 15%; margin:0% 5%"><input required type="radio" value="inactive" name="trainerStatus" id="trainerStatusEditInactive">Inactive</label>
                </div>
                <div style="display: flex; flex-direction:column; width:100%">
                    <div style="display: flex; flex-direction: row; width:100%">
                        <label style="margin-right:5%; width:10%">
                                BlackList Status
                            </label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blred"    value="red" name="blackListStatus" >Red</label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blorange" value="orange" name="blackListStatus" >Orange</label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blyellow" value="yellow" name="blackListStatus" >Yellow</label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blblue" value="blue" name="blackListStatus" >Blue</label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blgreen" value="green" name="blackListStatus" >Green</label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blexchange" value="exchange" name="blackListStatus" >Exchange</label>
                        <label style="width: 10%; margin:0% 1%"><input onchange="checkReason(this.id)"required type="radio" id = "blclear" value="clear" name="blackListStatus" >Clear</label>
                    </div>
                    <div style="display:flex; flex-direction:row; margin-top: 10px">
                        <label style="margin-right:5%; width:10%">
                            BlackList Reason
                            </label>
                        <textarea style="margin:0% 5%; width:50%; height:100px; resize:none" type="textarea" rows="4" cols="125" maxlength="500" id="blreason" value="<%=blacklistReason%>" name="blackListReason" placeholder="write a max of 500 character to describe reason for blacklisting"></textarea>
                    </div>
                </div>

                <div style="margin-top: 0.5%;">
                    <button type="button" onclick="memberForm('editMemberForm')">Submit</button>
                    <button type="button" onclick="editMemClose()"> Cancel</button>
                </div>
            </form>
        </div>

        <div style="display: flex; flex-direction: column;">
            <div class="line" style=" position: relative; width:max-content; margin-left : 3%">
                <div style="display: inline-block; padding-right : 5% auto">
                    <!-- title -->
                    <h1 style="margin-right:25px">Welcome
                        <%=user%>
                    </h1>
                </div>
                <!-- time and date -->
                <div style="display: inline-block; margin-right : 5% auto; ">
                    <text id="current_date"></text><br>
                    <text id="current_time"></text>
                </div>
            </div>


            <div id="boxesSec">
                <button id=nationalBtn onclick="setFilter('national')">
                    National
                </button>

                <div style="display:flex; flex-direction:column; width:30%;  position:relative; border-style:solid">
                    <div style="display:flex; flex-direction:row">
                        <button id="nablusBtn" class="localbutton" onclick="setFilter('nablus')"> Nablus</button>
                        <button id="jerusalemBtn" class="localbutton" onclick="setFilter('jerusalem')"> Jerusalem</button>
                        <button id="gazaBtn" class="localbutton" onclick="setFilter('gaza')"> Gaza</button>
                    </div>
                    <div style="display:flex; flex-direction:row">
                        <button id="ppuBtn" class="localbutton" onclick="setFilter('ppu')"> PPU</button>
                        <button id="huBtn" class="localbutton" onclick="setFilter('hu')"> HU</button>
                        <button id="jeninBtn" class="localbutton" onclick="setFilter('jenin')"> Jenin</button>
                    </div>

                </div>
            </div>

            <div style=" display: flex; flex-direction: row; text-align: center; margin-top: 2%;">
                <div style="width: 50%; min-width: fit-content;;display: flex; flex-direction: column; margin-right: 1%;">
                    <div id="personalInfo">
                        <div style="grid-area: header;">
                            <div style="display:flex; flex-direction: row; color: rgb(0, 119, 255);">
                                <div style="width: 33%; min-width: 33%;">
                                </div>
                                <div style="padding-left:6.9%;padding-right:6.9%; width: 19.2%; border-bottom: solid rgb(0, 119, 255);">
                                    English
                                </div>
                                <div style="padding-left:6.9%;padding-right:6.9%; width: 19.2%;border-bottom: solid rgb(0, 119, 255);">
                                    Arabic
                                </div>
                            </div>
                        </div>
                        <div style="grid-area: main;">
                            <div id="names" style="display:flex; flex-direction: column; font-size: 20px;">
                                <div style="display: flex; flex-direction: row;">
                                    <div id="engFname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=engFname%>
                                    </div>
                                    <div id="arabFname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=arabFname%>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                    <div id="engFather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=engFather%>
                                    </div>
                                    <div id="arabFather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=arabFather%>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                    <div id="engGfather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=engGfather%>
                                    </div>
                                    <div id="arabGfather" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=arabGfather%>
                                    </div>
                                </div>
                                <div style="display: flex; flex-direction: row;">
                                    <div id="engLname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=engLname%>
                                    </div>
                                    <div id="arabLname" style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                        <%=arabLname%>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div style="grid-area: menu; display: flex; flex-direction: column; font-size: 20px;">
                            <div style="height: 40px;">
                                First Name
                            </div>
                            <div style="height: 40px;">
                                Father Name
                            </div>
                            <div style="height: 40px;">
                                Grandfather Name
                            </div>
                            <div style="height: 40px;">
                                Family Name
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 1.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Phone No.
                        </div>
                        <div style=" width: 700px; text-align: center; font-size: 20px; display: flex; flex-direction: row;">
                            <div id="areaCode" style="width: 15%; padding:1px; border: solid; min-width: fit-content">
                                +
                                <%=areaCode%>
                            </div>
                            <div id="phoneNo" style="margin-left: 4%;width: 80%; padding:1px; border: solid; min-width: fit-content">
                                <%=phoneNo%>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px">
                            Email
                        </div>
                        <div id="Email" style=" width: 700px; text-align: center; font-size: 20px; overflow-x:hidden">
                            <%=email%>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px">
                            Facebook
                        </div>
                        <a id="firstYear" style=" width: 67%; text-align: center; font-size: 20px; overflow-x: hidden" href="https://www.facebook.com/nooraldeen.tirhi/" target="_blank">
                            <%=facebook%>
                        </a>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Freshmen Year
                        </div>
                        <div id="firstYear" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=firstYear%>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            University Number
                        </div>
                        <div id="uniNum" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=uniNum%>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Local Committee
                        </div>
                        <div id="uniNum" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=localCommittee%>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Gender
                        </div>
                        <div id="uniNum" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=gender%>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Membership Status
                        </div>
                        <div id="memStatus" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=memStatus%>
                        </div>
                    </div>
                    <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%; border-bottom: solid black; margin-bottom: 5px">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Trainer Status
                        </div>
                        <div id="trainerStatus" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=trainerStatus%>
                        </div>
                    </div>
                    <div style="background-color: #000000; color:white; display: flex; flex-direction: row; width: 95%; margin-left:2.5%; margin-right:2.5% ;margin-top: 0.5%;">
                        <div style="width: 350px; text-align: center; font-size: 20px;">
                            Blacklist Status
                        </div>
                        <div id="blacklistStatus" style=" width: 700px; text-align: center; font-size: 20px;">
                            <%=blacklistStatus%>
                        </div>
                    </div>
                </div>
                <div style="max-height: 93%;display: flex; flex-direction: row; width: 500px; border-style: solid;">
                    <div style="float:left ;margin-left: 2%; margin-right: 2%; ; width: 45%; max-height: 80%;">
                        <h1>National</h1>
                        <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                            <% nationalActivities.forEach( element=> { %>
                                <li>
                                    <%= element %>
                                </li>
                                <% }) %>
                        </ol>

                    </div>
                    <div style="width:10%; background-color:  #4e4e4e; width:10%">
                    </div>
                    <div style="float:left ;margin-left: 2%; margin-right: 2%; width: 40%; max-height: 80%;">
                        <h1>Local</h1>
                        <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                            <% localActivities.forEach( element=> { %>
                                <li>
                                    <%= element %>
                                </li>
                                <% }) %>
                        </ol>

                    </div>

                </div>
                <div style="display: flex; flex-direction: column; min-width: max-content; padding-top: 1%; width : 10%; align-items:center">
                    <form style="width:100%" method="post" action="/allMembers">
                        <input type="hidden" name="direction" value="next">
                        <input type="hidden" id="chosenLCInNext"name="chosenLC" value="">
                        <button class="cyclePartBtn" >
                        Next
                        </button>
                    </form>

                    <form style="width:100%" method="post" action="/allMembers">
                        <input type="hidden" name="direction" value="previous">
                        <input type="hidden" id="chosenLCInPrev"name="chosenLC" value="">
                        <button class="cyclePartBtn" >
                        Prev
                        </button>
                    </form>

                    <button class="cyclePartBtn" onclick="searchMemPopUp()">
                    Search
                    </button>

                    <button class="cyclePartBtn" onclick="addMemPopUp()">
                    Add
                    </button>

                    <button id="editMemButton" class="cyclePartBtn" onclick="editMemPopUp()">
                    Edit
                    </button>


                    <form id="deleteForm" style="width:100%" method="post" action="/deleteMem">
                        <input type="hidden" name="memLC" value="<%=localCommittee%>">
                        <button id="deleteMemButton" type="button" class="cyclePartBtn" onclick="deleteMemReq('deleteForm')">
                            Delete
                        </button>
                    </form>
                </div>

            </div>
        </div>



        <script>

        if ("<%=position%>" == "CBD"){
            formats = document.getElementsByClassName("allActivitiesForm")
            for (var j = 0; j < formats.length; j++){
                elements = formats[j].elements
                for (var i = 0; i < elements.length; i++){
                    elements[i].setAttribute("disabled", "")
                }
                if (formats[j].parentElement.id == "navigationBar"){
                    formats[j].remove()
                }

            }
            
            formats = document.getElementsByClassName("blackListForm")
            for (var j = 0; j < formats.length; j++){
                elements = formats[j].elements
                for (var i = 0; i < elements.length; i++){
                    elements[i].setAttribute("disabled", "")
                }

                if (formats[j].parentElement.id == "navigationBar"){
                    for (var i = 0; i < elements.length; i++){
                        formats[j].elements[i].remove()
                    }
                }
            }
        }

        

            if ("<%=uniNum%>" == "0"){
                document.getElementById("deleteMemButton").disabled=true
                document.getElementById("deleteMemButton").style.borderColor = "#6b6a6a"
                document.getElementById("deleteMemButton").style.backgroundColor = "rgb(200, 200, 200)"
                document.getElementById("editMemButton").disabled=true
                document.getElementById("editMemButton").style.borderColor = "#6b6a6a"
                document.getElementById("editMemButton").style.backgroundColor = "rgb(200, 200, 200)"
            } 

            if("<%=userLC%>" != "national")
                document.getElementById("boxesSec").style.display = "none"
            
            const hiddenUserIn = document.createElement('input');
            hiddenUserIn.setAttribute('type', 'hidden');
            hiddenUserIn.setAttribute('name', "username");
            hiddenUserIn.setAttribute('value', "<%=user%>");

            const hiddenLCIn = document.createElement('input');
            hiddenLCIn.setAttribute('type', 'hidden');
            hiddenLCIn.setAttribute('name', "localCommittee");
            hiddenLCIn.setAttribute('value', "<%=userLC%>");

            const hiddenCipherIn = document.createElement('input');
            hiddenCipherIn.setAttribute('type', 'hidden');
            hiddenCipherIn.setAttribute('name', "cipher");
            hiddenCipherIn.setAttribute('value', "<%=cipher%>");

            const hiddenPositionIn = document.createElement('input');
            hiddenPositionIn.setAttribute('type', 'hidden');
            hiddenPositionIn.setAttribute('name', "position");
            hiddenPositionIn.setAttribute('value', "<%=position%>");

            const hiddenFilterLCIn = document.createElement('input');
            hiddenFilterLCIn.setAttribute('type' , 'hidden');
            hiddenFilterLCIn.setAttribute('name' , "filterLC");
            hiddenFilterLCIn.setAttribute('value', "<%=localCommittee%>");

            const hiddenmemNumIn = document.createElement('input');
            hiddenmemNumIn.setAttribute('type' , 'hidden');
            hiddenmemNumIn.setAttribute('name' , "memNum");
            hiddenmemNumIn.setAttribute('value', "<%=uniNum%>");

            console.log(hiddenFilterLCIn)

            const forms = document.forms;
            
            console.log(forms)
            for (let i = 0; i < forms.length; i++) {
                forms[i].appendChild(document.importNode(hiddenUserIn, true))
                forms[i].appendChild(document.importNode(hiddenLCIn, true))
                forms[i].appendChild(document.importNode(hiddenCipherIn, true))
                forms[i].appendChild(document.importNode(hiddenPositionIn, true))
                forms[i].appendChild(document.importNode(hiddenFilterLCIn, true))
                forms[i].appendChild(document.importNode(hiddenmemNumIn, true))
            }
             
            var cur_time = new Date();
            document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
            document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()+1<10)?("0"+cur_time.getMonth()+1):cur_time.getMonth()+1}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
            var intervalId = setInterval(function() {
                var cur_time = new Date();
                document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
                document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()+1<10)?("0"+cur_time.getMonth()+1):cur_time.getMonth()+1}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
            }, 1000);

            var filterLC;
            lcs = ['national', 'nablus', 'jerusalem', 'gaza', 'ppu', 'hu', 'jenin']
            setFilter("<%=chosenLC%>")

            const firstYearField = document.getElementById("firstYearField")
            firstYearField.setAttribute("max", Number(`${cur_time.getFullYear()}`))

            

            function setFilter(localCommittee) {
                filterLC = localCommittee;
                lcs.forEach((element) => {
                    temp = document.getElementById(`${element}Btn`)
                    temp.style.borderStyle = "none"
                    if (element == "national")
                        temp.style.borderStyle = "solid"
                    temp.style.borderColor = "black"
                    temp.style.scale = 1;
                    temp.style.zIndex = 1;
                })
                lcBtn = document.getElementById(`${localCommittee}Btn`)
                lcBtn.style.borderColor = "rgb(0, 119, 255)"
                lcBtn.style.borderStyle = "solid"
                lcBtn.style.scale = 1.2;
                lcBtn.style.zIndex = 100;
                lcBtn.style.position = "relative"
                document.getElementById("chosenLCInNext").value = localCommittee
                document.getElementById("chosenLCInPrev").value = localCommittee
                document.getElementsByName("filterLC").forEach( input=>{
                    input.value = localCommittee
                    console.log(input.value)
                })
            }

            let curMemNumber = Number("<%=curMemNumber%>");
            
           




            const user_details = {
                username: "<%=user%>",
                cipher: "<%=cipher%>"
            };

            function addMemPopUp() {
                const element = document.getElementById("newMemberWindow")
                element.style.display = "flex"
            }

            function addMemClose() {
                const element = document.getElementById("newMemberWindow")
                element.style.display = "none"
            }

            const blacklistMap = new Map();
            blacklistMap.set('clear', 0);
            blacklistMap.set('red', 1);
            blacklistMap.set('orange', 2);
            blacklistMap.set('yellow', 3);
            blacklistMap.set('blue', 4);
            blacklistMap.set('green', 5);
            blacklistMap.set('exchange', 6);

            function editMemPopUp() {
                const element = document.getElementById("editMemberWindow")
                element.style.display = "flex"
                    //set known values
                if ("<%=memStatus%>" == "active") {
                    document.getElementById("memStatusEditActive").setAttribute("checked", true)
                } else {
                    document.getElementById("memStatusEditInactive").setAttribute("checked", true)
                }
                if ("<%=trainerStatus%>" == "active") {
                    document.getElementById("trainerStatusEditActive").setAttribute("checked", true)
                } else {
                    document.getElementById("trainerStatusEditInactive").setAttribute("checked", true)
                }
                
                document.getElementById(`editGender${"<%=gender%>"}`).checked = true;
                document.getElementById(`bl${"<%=blacklistStatus%>"}`).checked = true;
                document.getElementById(`editlc${"<%=localCommittee%>"}`).checked = true;

            }

            checkReason()
            function checkReason(src) {
                if (src == "blclear") {
                    document.getElementById('blreason').setAttribute('disabled', true)
                    document.getElementById('blreason').removeAttribute('required')
                } else {
                    document.getElementById('blreason').removeAttribute('disabled')
                    document.getElementById('blreason').setAttribute('required', true)
                }
            }

            function editMemClose() {
                const element = document.getElementById("editMemberWindow")
                element.style.display = "none"
            }



            function searchMemPopUp() {
                console.log("noor")
                const element = document.getElementById("searchWindow")
                element.style.display = "flex"
                document.getElementsByClassName("fullbox")[0].classList.add("blurry")
            }

            function searchMemClose() {
                const element = document.getElementById("searchWindow")
                element.style.display = "none"
                document.getElementsByClassName("fullbox")[0].classList.remove("blurry")
            }

            function submitSearch(form_id) {
                myForm = document.getElementById(form_id)
                const xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    document.body.style.cursor = "default"
                    console.log(`Status: ${this.status}:: ${this.responseText}`)
                    if (this.status != 200){
                        alert(`Status: ${this.status}:: ${this.responseText}`)
                    }else{
                        console.log(this.responseText)
                        results = JSON.parse(this.responseText)

                        const temp = document.importNode(document.getElementById("exception"), true)
                        document.getElementById("searchlist").innerHTML = ""
                        document.getElementById("searchlist").append(temp)

                        

                        if (results.length > 0 ){
                            console.log(results)
                            results.forEach(obj => {
                                listItem = document.createElement("li")
                                listItem.classList.add("searchRow")
                                    formItem = document.createElement("form")
                                    formItem.method="post"
                                    formItem.action="/allMembers"
                                       formItem.style.width = "100%"
                                    formItem.style.display = "flex" 
                                    formItem.style.flexDirection = "row"
                                        inputItem1 = document.createElement("input")
                                        inputItem1.type="hidden"
                                        inputItem1.name="direction"
                                        inputItem1.value="next"
                                        formItem.appendChild(inputItem1)
                                        inputItem2 = document.createElement("input")
                                        inputItem2.type="hidden"
                                        inputItem2.name="memNum"
                                        inputItem2.value = Number(obj.memNum) - 1
                                        inputItem3 = document.createElement("input")
                                        inputItem3.type="hidden"
                                        inputItem3.name="chosenLC"
                                        inputItem3.value = "national"
                                        formItem.appendChild(inputItem3)
                                        formItem.appendChild(inputItem2)
                                        buttonItem = document.createElement("button")
                                        buttonItem.style.width = "10%"
                                        buttonItem.style.marginRight = "15.2px"
                                        buttonItem.innerText = "Select"
                                        formItem.appendChild(buttonItem)
                                        labelItem1 = document.createElement("label")
                                        labelItem1.style.width="42%"
                                        labelItem1.innerText = obj.memNum
                                        formItem.appendChild(labelItem1)
                                        labelItem2 = document.createElement("label")
                                        labelItem2.style.width="42%"
                                        labelItem2.innerText = obj.memName
                                        formItem.appendChild(labelItem2)
                                        
                                listItem.appendChild(formItem)                                
                                formItem.appendChild(document.importNode(hiddenUserIn, true))
                                formItem.appendChild(document.importNode(hiddenLCIn, true))
                                formItem.appendChild(document.importNode(hiddenCipherIn, true))
                                formItem.appendChild(document.importNode(hiddenPositionIn, true))
                                formItem.appendChild(document.importNode(hiddenFilterLCIn, true))
                                document.getElementById("searchlist").append(listItem)
           
              
                            })
                        }else{
                            element = document.createElement("div")
                            element.classList.add("searchRow")
                            element.innerText = "No member with a similar name was found in the currently chosen LC"
                            document.getElementById("searchlist").append(element)
                        }

                        //<li class="searchRow">
                        //     <div style="width: 100%; display:flex; flex-direction:row">
                        //         <button style="width:10%; margin-right:15.2px">Select</button>
                        //         <label style="width:42%">Member Number</label>
                        //         <label style="width:42%">Member Name</label>
                        //     </div>
                        //</li>
                        
                    }
                }
                xhr.open("POST", `${myForm.action}`)
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                let request = ""
                inputs = myForm.elements
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].type == "radio") {
                        if (inputs[i].checked)
                            request = request + inputs[i].name + "=" + inputs[i].value + "&"
                    } else {
                        request = request + inputs[i].name + "=" + inputs[i].value + "&"
                    }
                }
                request = request.slice(0, -1)
                console.log(request)
                xhr.send(request)
                document.body.style.cursor = "wait"
            }

            function memberForm(form_id){
                const myForm = document.getElementById(form_id)
                const xhr = new XMLHttpRequest();

                xhr.onload = function (){
                    alert(`Status: ${this.status}:: ${this.responseText}`)
                    document.body.style.cursor = "default"
                }

                xhr.open("POST", `${myForm.action}`)
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                let request = ""
                inputs = myForm.elements
                for (let i = 0; i < inputs.length; i++) {
                    if (inputs[i].type == "radio") {
                        if (inputs[i].checked)
                            request = request + inputs[i].name + "=" + inputs[i].value + "&"
                    } else {
                        request = request + inputs[i].name + "=" + inputs[i].value + "&"
                    }
                }
                request = request.slice(0, -1)
                console.log(request)
                xhr.send(request)
                document.body.style.cursor = "wait"
            }

            function deleteMemReq(form_id){
                if (window.confirm('are you sure you want to do this?')) {
                    if (window.confirm('are you absolutely sure you want to do this? this is IRREVERSIBLE')) {
                        const myForm = document.getElementById(form_id)
                        const xhr = new XMLHttpRequest();
                        xhr.onload = function (){
                            document.body.style.cursor = "default"
                            alert(`Status: ${this.status}:: ${this.responseText}`)
                        }
                    
                        xhr.open("POST", `${myForm.action}`)
                        xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
                        let request = ""
                        inputs = myForm.elements
                        for (let i = 0; i < inputs.length; i++) {
                            if (inputs[i].type == "radio") {
                                if (inputs[i].checked)
                                    request = request + inputs[i].name + "=" + inputs[i].value + "&"
                            } else {
                                request = request + inputs[i].name + "=" + inputs[i].value + "&"
                            }
                        }
                        request = request.slice(0, -1)
                        console.log(request)
                
                        xhr.send(request)
                        document.body.style.cursor = "wait"
                    }
                }
                
            }

            
            if("<%=userLC%>" != "national"){
                document.getElementById("addSelectLC").remove()
                document.getElementById("editSelectLC").remove()
            }
        </script>

</body>

</html>