<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/common.css">
    <style>
        #boxesSec {
            margin-top: 5%;
            height: 70%;
            align-items: center;
        }
        
        #natBox {
            float: left;
            display: inline-block;
            margin-left: 25%;
            padding: 40px;
            text-align: center;
            font-size: 30px;
            border-style: solid;
            border-color: #000000;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
        }
        
        #natBox:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        #boxesTable {
            float: right;
            margin-right: 25%;
            width: 25%;
            min-width: max-content;
            display: inline-block;
            border-collapse: collapse;
            border-style: solid;
            border-color: black;
            height: 122px;
            align-items: center;
            font-size: large;
        }
        
        #boxesTable td {
            text-align: center;
            border-style: solid;
            border-width: 2px;
            font-size: 22px;
            width: 10%;
            padding-top: 15px;
            padding-bottom: 15px;
            transition-property: box-shadow border-radius transform;
            transition-duration: .5s;
        }
        
        td:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        #boxesTable tr {
            min-width: max-content;
            width: max-content;
            min-height: max-content;
            height: max-content;
        }
        
        #personalInfo {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: auto;
            grid-template-areas: "header header header" "menu main main" "menu main main" "menu main main" "menu main main";
        }
        
        #personalInfo>div {
            text-align: center;
            font-size: 20px;
        }
        
        .localbox:hover {
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
        }
        
        .cyclePartBtn {
            padding: 10%;
            width: 60%;
            margin-top: 1%;
            background-color: transparent;
            border-style: solid;
            border-color: #000000;
            transition-duration: 0.25s;
        }
        
        .cyclePartBtn:hover {
            -ms-transform: scale(1.01);
            /* IE 9 */
            -webkit-transform: scale(1.01);
            /* Safari 3-8 */
            box-shadow: 2px 2px 3px 1px rgb(5, 5, 5);
            border-radius: 2%;
            transform: scale(1.01);
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="fullbox" style="display: flex; flex-direction: column;">
        <div style="display: flex; flex-direction: column;">
            <div class="line" style=" position: relative; width:max-content; margin-left : 3%">
                <div style="display: inline-block; padding-right : 5% auto">
                    <!-- title -->
                    <h1 style="margin-right:25px">Welcome
                        <%= user%>
                    </h1>
                </div>
                <!-- time and date -->
                <div style="display: inline-block; margin-right : 5% auto; ">
                    <text id="current_date"></text><br>
                    <text id="current_time"></text>
                </div>
            </div>
            <div id="boxesSec">
                <div id=natBox>
                    National
                </div>
                <table id="boxesTable">
                    <tr>
                        <td>
                            Nablus
                        </td>
                        <td>
                            Jerusalem
                        </td>
                        <td>
                            Gaza
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PPU
                        </td>
                        <td>
                            HU
                        </td>
                        <td>
                            Jinin
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div style=" display: flex; flex-direction: row; text-align: center; margin-top: 2%;">
            <div style="width: 50%; min-width: 920px;;display: flex; flex-direction: column; margin-right: 1%;">
                <div id="personalInfo">
                    <div style="grid-area: header;">
                        <div style="display:flex; flex-direction: row; color: rgb(0, 119, 255);">
                            <div style="width: 33%; min-width: 33%;">
                            </div>
                            <div style="padding-left:6.9%;padding-right:6.9%; width: 19.2%; border-bottom: solid rgb(0, 119, 255);">
                                English
                            </div>
                            <div style="padding-left:6.9%;padding-right:6.9%; width: 19.2%;border-bottom: solid rgb(0, 119, 255);">
                                Arabic
                            </div>
                        </div>
                    </div>
                    <div style="grid-area: main;">
                        <div style="display:flex; flex-direction: column; font-size: 20px;">
                            <div style="display: flex; flex-direction: row;">
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engFname%>
                                </div>
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabFname%>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engFather%>
                                </div>
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabFather%>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engGfather%>
                                </div>
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabGfather%>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: row;">
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=engLname%>
                                </div>
                                <div style="padding-left: 5%; padding-right: 5%; width: 40%;">
                                    <%=arabLname%>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div style="grid-area: menu; display: flex; flex-direction: column; font-size: 20px;">
                        <div>
                            First Name
                        </div>
                        <div>
                            Father Name
                        </div>
                        <div>
                            Grandfather Name
                        </div>
                        <div>
                            Family Name
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 1.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Phone No.
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px; display: flex; flex-direction: row;">
                        <div style="width: 15%; padding:1px; border: solid; min-width: fit-content">
                            +
                            <%=areaCode%>
                        </div>
                        <div style="margin-left: 4%;width: 80%; padding:1px; border: solid; min-width: fit-content">
                            <%=phoneNo%>
                        </div>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Email
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=participantEmail%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Freshmen Year
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=freshmenYear%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        University Number
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=uniNum%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Membership Status
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=memStatus%>
                    </div>
                </div>
                <div style="display: flex; flex-direction: row; width: 100%; margin-top: 0.5%;">
                    <div style="width: 33%; text-align: center; font-size: 20px;">
                        Trainer Status
                    </div>
                    <div style=" width: 67%; text-align: center; font-size: 20px;">
                        <%=trainerStatus%>
                    </div>
                </div>
            </div>
            <div style="max-height: 93%;display: flex; flex-direction: row; border-style: solid;">
                <div style="float:left ;margin-left: 2%; margin-right: 2%; max-width: 40%; max-height: 80%;">
                    <h1>National</h1>
                    <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                        <% nationalActivites.forEach( element=> { %>
                            <li>
                                <%= element.actName %>
                            </li>
                            <% }) %>
                    </ol>

                </div>
                <div style="width:10%; background-color:  #4e4e4e;">
                </div>
                <div style="float:left ;margin-left: 2%; margin-right: 2%; max-width: 40%; max-height: 80%;">
                    <h1>Local</h1>
                    <ol style="max-height: calc(15*20px); overflow-y: scroll;">
                        <% localActivites.forEach( element=> { %>
                            <li>
                                <%= element.actName %>
                            </li>
                            <% }) %>
                    </ol>

                </div>

            </div>
            <div style="display: flex; flex-direction: column; align-items: center; min-width: max-content; padding-top: 1%; width : 10%">
                <button class="cyclePartBtn">
                    Next
                </button>
                <button class="cyclePartBtn">
                    Prev
                </button>
                <button class="cyclePartBtn">
                    Add
                </button>
                <button class="cyclePartBtn">
                    Delete
                </button>
            </div>
        </div>
    </div>



    <script>
        var cur_time = new Date();
        document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
        document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()<10)?("0"+cur_time.getMonth()):cur_time.getMonth()}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
        var intervalId = setInterval(function() {
            var cur_time = new Date();
            document.getElementById("current_time").innerText = `${cur_time.getHours()}:${(cur_time.getMinutes() < 10)? ("0"+cur_time.getMinutes()) : cur_time.getMinutes()}`
            document.getElementById("current_date").innerText = `${cur_time.getFullYear()}/${(cur_time.getMonth()<10)?("0"+cur_time.getMonth()):cur_time.getMonth()}/${(cur_time.getDate()<10)?("0"+cur_time.getDate()):(cur_time.getDate())}`
        }, 1000);
    </script>

</body>

</html>